{% extends "base.html" %}
{% block title %}{% endblock %}
{% block header %}Jackson's Heehoposting Hellscape{% endblock %}
{% block content %}<div>
    <p><center><i>“REND! SLAUGHTER! DEVOUR YOUR ENEMIES! There is no other way to survive. You can't escape your hunger, warriors of purgatory!”</i></center></p>
    <p class="signature">- Shin Megami Tensei: Digital Devil Saga</p><hr>
    <h2>► Hee-ho!</h2>
    <p>Hey there! This page seems kind of empty, right? Well, that’s because it’s a work in progress. Be patient ya gremlins. I’ll be adding more soon.</p>
    <p>In the meantime, here’s a Jack Frost to keep you company!</p>
    <p class="signature">-Jackson</p>
    </div>{% endblock %}